body{
    --primary: #245be9;
    --primaryDark: #173582;
    --secondary: #22ff98;
    --secondaryDark: #179356;
    --background: #e6e5e5;
    --surface: #787878;
    --modal: #fff;
    --error: #b00020;
    --text-onPrimary:#fff;
    --text-onSecondary: rgba(0, 0, 0, 0.95);
    --text-onBackground: #000;
    --text-onSurface: #fdfdfd;
    --text-onModal: #000;
    --text-onError: #fff;
    --onHover: rgb(82, 82, 82);
  }