.page.hab{
    --roomColor: grey;
    form{
        padding: 0 10px;
    }
    .roomsContainer{
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        justify-items: stretch;
        // grid-gap: 5px;
        align-items: stretch;
    }
    .room{
        // width: calc((100% / 4) - 10px);
        margin: 5px;
        text-decoration: none;
        color: var(--text-onBackground);
        // &.missionControl, &.comm{ --roomColor: #828282 }
        // &.garden{--roomColor: #219653};
        // &.bed{--roomColor: #0072bb};
        // &.kitchen{--roomColor: #e18335};
        // &.garage{--roomColor: #bdbdbd};
        .ratioContainer{
            background: var(--roomColor);
            border-radius: 10px;
            &-inner{
                padding: 5px;
            }
        }
        &.width{
            &-1{
                grid-column-start: span 1;
            }
            &-2{
                grid-column-start: span 2;
            }
            &-3{
                grid-column-start: span 3;
            }
            &-4{
                grid-column-start: span 4;
            }
        }
        h3{
            text-overflow: ellipsis;
            font-weight: normal;
            // word-break: break-all;
            font-size: 1em;
        }
    }
}