$headerHeight: 80px;
@import "Styles/reset";
@import "Styles/vars";
@import "Styles/modal";

body{
  @import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
  font-family: 'Exo 2', sans-serif;
}

.dark-theme{
  --primary: #245be9;
  --primaryDark: #173582;
  --secondary: #22ff98;
  --secondaryDark: #179356;
  --background: #313131;
  --surface: #787878;
  --modal: #000;
  --error: #b00020;
  --text-onPrimary:#fff;
  --text-onSecondary: rgba(0, 0, 0, 0.95);
  --text-onBackground: #fff;
  --text-onSurface: #fdfdfd;
  --text-onModal: #fff;
  --text-onError: #fff;
  --onHover: rgb(231, 231, 231);
}

.App {
  text-align: center;
  background: var(--background);
  color: var(--text-onBackground);
  min-height: 100vh;
}

.header{
  background: var(--primary);
  color: var(--text-onPrimary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 3px var(--onHover);
}

.nav{
  background: var(--primary);
  color: var(--text-onPrimary);
  box-shadow: 2px 2px 3px var(--onHover);
  ul{
    display: flex;
    li{
      padding: 5px;
      color: var(--text-onPrimary);
      a{
        text-decoration: none;
        color: inherit;
      }
    }
  }
}